# Dependências
node_modules/

# Variáveis de ambiente (NUNCA commitar isso!)
.env
.env.local
.env.production

# Arquivos de upload locais
uploads/

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db
